.headerBaca{
    background: rgba(0, 0, 0, 0.3);
}
.ceritaPage .arrow-left:hover,
.ceritaPage .arrow-right:hover{
    filter: brightness(85%);
    transition: all .3s ease;
}
.ceritaPage .arrow-left,
.ceritaPage .arrow-right{
    transition: all .3s ease;
}
.ceritaPage .caption-cont{
    transition: all .3s ease;
}

.fadeOut{
    opacity:0;
    transition: width 0.5s 0.5s, height 0.5s 0.5s, opacity 0.5s;

}
.fadeIn{
    opacity:1;
    transition: width 0.5s, height 0.5s, opacity 0.5s 0.5s;
}

.feedback, .answer{
    transition: all .3s ease;
}

.correctAns{
    background-color: #63C338 !important;
    transition: all .3s ease;
}

.incorrectAns{
    background-color: #FF5353 !important;
    transition: all .3s ease;
}

.feedback.visible{
    transition: all .3s ease;
    right: .5rem !important;
}

.feedbackCorrect{
    background-color: #63C338;
}
.feedbackIncorrect{
    background-color: #FF5353;
}