
.navbar{
    z-index: 99999;
    
}

.navbar .active{
    color: #E15B7E;
}

.navbar.bg-cWhite{
  transition: all .3s ease;
}

.navbar{
  transition: all .3s ease;

}

.btnPink{
  color: white!important;
  background-color: #E15B7E !important;
  border: solid 2px transparent!important;
  transition: all .3s ease !important;
}

.btnPink:hover{
  color: #E15B7E !important;
  background-color: white !important;
  border: solid 2px #E15B7E !important;
  transition: all .3s ease !important;
}

.btnPurple{
  color: white!important;
  background-color: #A190FF !important;
  border: solid 2px transparent!important;
  transition: all .3s ease !important;
}

.btnPurple:hover{
  color: #A190FF !important;
  background-color: white !important;
  border: solid 2px #A190FF !important;
  transition: all .3s ease !important;
}

.btnCateg:hover{
  color: white!important;
  background-color: #1F83B5 !important;
  border: solid 2px transparent!important;
  transition: all .3s ease !important;
}

.btnCateg{
  color: #1F83B5 !important;
  background-color: white !important;
  border: solid 2px #1F83B5 !important;
  transition: all .3s ease !important;
}

.btnBlue{
  color: white!important;
  background-color: #1F83B5 !important;
  border: solid 2px transparent!important;
  transition: all .3s ease !important;
}

.btnBlue:hover{
  color: #1F83B5 !important;
  background-color: white !important;
  border: solid 2px #1F83B5 !important;
  transition: all .3s ease !important;
}

.hero{
    background: linear-gradient(180deg,  rgba(65, 189, 208, 0.5) 0%, rgba(65, 189, 208, 0) 100%);
    height: 100vh;
}

.hero .text-cont{
    min-width: 500px;
}

.terfavorit .slick-track, .terfavorit .slick-list{
  height: 500px !important;
}

  .slick-slide {
  margin: 0 16px;
  border-radius: 10px;
}

.slick-list {
  margin: 0 -16px;
}

.hidden{
  display: none !important;
}
.terfavorit .category{
  color: #A0DEE8;
}

.papanperingkat .first{
  background-color: #FFE354;
}
.papanperingkat .second{
  background-color: #DFDFDF;
}
.papanperingkat .third{
  background-color: #FEA119;
}

.footer{
  color: #064775;
}